/***************************************************************/
/********************** GENERAL SETTINGS ***********************/
/***************************************************************/

html, body {
margin : 0;
padding : 0;
}

body {
background : #e9e9d5;
font : 78% Verdana, sans-serif;
text-align : center;
line-height : 1.3;
}

h1, h2, h3 {
font-family : Georgia, 'Times New Roman', serif;
color : #a20;
}

h1 {
text-align : center;
margin-top: 0;
}

h2 {
margin: 1em 0 0.6em 0;
}

h3 {
margin: 1em 0 0.5em 0;
color : #000;
}

a {
color : #00c;
text-decoration : none;
}

a:visited {
color : #00c;
}

a:hover {
color : #b11;
text-decoration : underline;
}

p {
margin : 0.5em 0;
border : 0 solid #000;
}

p.smalltext {
font-size : 84%;
}

span.smalltext {
font-size : 84%;
}

span.tt {
font-family : Monaco, Courier, sans-serif;
color: #B11;
}

/***************************************************************/
/************************* DIV STUCTURE ************************/
/***************************************************************/

div#top_container {
width : 810px;
margin : 6px auto 0 auto;
height : 30px;
}

div#container {
width : 720px;
margin : 0 auto;
padding : 16px 52px 10px 52px;
}

div#bottom_container {
width : 810px;
margin : 0 auto 6px auto;
height : 30px;
}


div#navigation {
font-size : .95em;
text-align : center;
margin : 6px 0 6px 0;
padding : 0;
}

div#subtitle {
text-align: center; 
font-size: 15px; 
margin-bottom: 20px;
font-weight : bold;
font-family : Georgia, 'Times New Roman', serif;
}

/***************************************************************/
/************************ DIV APPEARANCE ***********************/
/***************************************************************/

div#top_container {
background : #e9e9d5 url(./top.gif) no-repeat bottom center;
border : 0 solid #000;
}

div#container {
background : #e9e9d5 url(./middle.gif) repeat-y center center;
border : 0 solid #000;
text-align : left;
}

div#bottom_container {
background : #e9e9d5 url(./bottom.gif) no-repeat top center;
border : 0 solid #000;
}

div#navigation {
border : 0 solid #000;
}

/***************************************************************/
/******************* CONTAINER SUB-ELEMENTS ********************/
/***************************************************************/

div#container .top_mytable {
margin : 14px auto 0 auto;
width : 496px;
height : 7px;
padding : 0;
background : #fff url(./top_mytable.gif) no-repeat bottom center;
}

div#container .mytable {
margin : 0 auto;
width : 480px;
padding : 3px 12px 3px 12px;
border : 0 dashed #000;
background : #fff url(./middle_mytable.gif) repeat-y center center;
text-align : center;
}

div#container .bottom_mytable {
margin : 0 auto 18px auto;
width : 496px;
height : 7px;
padding : 0;
background : #fff url(./bottom_mytable.gif) no-repeat top center;
}

div#container .line {
margin : 5px auto 5px auto;
width : 720px;
height : 3px;
padding : 0;
background : #fff url(./linea.gif) no-repeat top center;
}

div#container table {
margin : 1em 0 0 0;
padding : 0;
table-layout : fixed;
border-collapse : collapse;
border : 0 solid #000;
}

div#container td {
padding : 0 0.5em 0.4em 0;
}

div#container ul {
margin: 10px 0 10px 0;
padding-left : 32px;
border : 0 solid #000;
}

div#container li {
margin : 0 0 7px 0;
padding : 0;
}

